<!DOCTYPE html>
<html lang="en" ng-app="DeliveryApp">
<head>
	<title>delivery app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="assets/css/style.min.css">
	<script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.6/angular-route.min.js"></script>
	<script type="text/javascript" src="assets/js/client.js"></script>
</head>

<body>
<div class="container" ng-controller="DeliveryTable">
	<div class="row">
		<div class="col-sm-12">
			<div id="content">
				<div class="header">
					<div class="row">
						<div class="col-xs-12">
							<span ng-if="!noDeliveries()">Dispatched {{getTime(dispatched)}} minutes ago</span>
							<span ng-if="noDeliveries()">At store</span>
						</div>
					</div>
					<div class="row">
						<form role="form" id="login" ng-submit="login()">
							<div class="form-group col-xs-6">
							    <label class="sr-only" for="store_id">Store ID</label>
							    <input type="text" class="form-control" id="store_id" placeholder="Store ID" ng-model="storeID">
							</div>
							<div class="form-group col-xs-3">
							    <label class="sr-only" for="employee_id">Employee ID</label>
							    <input type="text" class="form-control" id="employee_id" placeholder="Employee ID" ng-model="employeeID">
							</div>
							<div class="form-group col-xs-3">
								<button type="submit" class="btn btn-default">Login</button>
							</div>
						</form>
					</div>
				</div>
				<table id="deliverytable" class="deliverytable table table-striped">
					<thead>
					<tr class="deliverytitle">
						<th class="checkNumber col-xs-2">check#</th>
						<th class="address col-xs-7">address</th>
						<th class="time col-xs-3">time</th>
					</tr>
					</thead>
					<tbody id="deliveries">
						<tr ng-repeat="delivery in getDeliveries() | orderBy:'checkNumber'" delivery expander></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>
